[Unit]
Description=Run Hardware Power Management & Safe Shutdown daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/x-c1-pwr.sh
Restart=always

[Install]
WantedBy=multi-user.target